//.iris-input.brush-shape-selector

.brush-shape-selector {
	white-space: nowrap;
	border: none !important;
	width: auto !important;

	> .brush-shape-preview {
		display: inline-block;
		height: 3rem;
		margin-right: spacing(1);
		padding: 3px;

		border-radius: radius(1);

		&:hover {
			@include outline(1px, $ambient-groove);
		}
	}	
}