.iris-file-select {
	padding: 0 spacing(2);

	> .iris-dropzone, > .iris-loading {
		position: absolute;
		width: 100%; 
		height: 100%;
		top: 0;
		left: 0;

		background-color: $ambient-over;

		opacity: 0;

		pointer-events: none;
	}

	&.drop {
		.iris-dropzone {
			opacity: 1;
		}
	}

	&.loading {
		.iris-loading {
			opacity: 1;
		}
	}
}


.iris-file-select-input {
	@include selection;
	
	> p {
		font-size: spacing(4);
	}

	> input {
		position: absolute;
		opacity: $transparent;
		z-index: 1;
	}
}