.iris-button-group {
	@include clearfix;
	margin-bottom: spacing(1);
}

// a.iris-button
.iris-button {
	@include selection(
		$bordered: true, 
		$highlight: true
	);

	float: left;
	padding: 0.3rem 1rem;
	margin-top: spacing(1);
	margin-bottom: spacing(1);

	border-radius: radius(1);
	cursor: pointer;
}

.iris-icon-button {
	@include selection(
		$bordered: false, 
		$highlight: false
	);
	// padding: 0.2rem 1rem;
	.iris-icon {
		transform: scale(0.6666666);
	}
}