@import "input-range";
@import "mixins/clearfix";

.iris-input-group {
	padding: 0 spacing(1);
	 
	border-top: $rule-stack-groove;
	 
	.iris-input {
		margin: 0.75rem 0;
	}
}

.iris-input {
	$label-width: 20%;

	@include clearfix;
	display: relative;
	margin: spacing(1) 0;

	@mixin children {
		line-height: spacing(2);
		display: absolute;
		vertical-align: top;
		display: inline-block;
	}

	> input {
		@include children;
		float: right;
		width: 100%;
	}

	> label {
		@include children;
		float: left;
		width: $label-width;
	}

	> label + input {
		width: 100% - $label-width;
	}
}

.iris-button-group {
	@include clearfix;
	margin-bottom: spacing(1);
}
.iris-button {
	float: left;
	margin-right: 2rem;
	padding: 0.3rem;
	
	cursor: pointer;
	border-top: $rule-stack-underline;

	> p {
		font-size: 0.9rem;
	}
}
