@import "input-range";
@import "mixins/clearfix";

input {
	margin: 0.25rem 0;
}

.iris-button-group {
	@include clearfix;
	margin-bottom: spacing(1);
}
.iris-button {
	float: left;
	margin-right: 2rem;
	padding: 0.3rem;
	
	cursor: pointer;
	border-top: $rule-stack-underline;

	> p {
		font-size: 0.9rem;
	}
}

.iris-input-group {
	padding: spacing(1);
	 
	border-top: $rule-stack-groove;
	 
	input {
		width: 100%;
	}
}