.iris-button-group {
	@include clearfix;
	margin-bottom: spacing(1);
}

// a.iris-button
.iris-button {
	float: left;
	padding: 0.3rem 1rem;

	border-radius: radius(1);

	&:hover {
		@include outline(1px, $ambient-groove);
	}

	&:active {
		background-color: $ambient-groove-light-1;
	}
}