@import "input-range";
@import "input-button";
@import "mixins/clearfix";

.iris-input-group {
	border-top: $rule-stack-groove;
	 
	.iris-input {
		margin: spacing(3) $panel-padding-horizontal;
	}

	hr + .iris-input {
		margin-top: 0;
	}
}

.iris-input {
	@include clearfix;
	position: relative;

	@mixin children {
		line-height: spacing(2);
		vertical-align: top;
		display: inline-block;
	}
	> input {
		@include children;
		float: right;
		width: 100%;
	}

	$label-width: 20%;
	> label {
		@include children;
		float: left;
		width: $label-width;
	}
	> label + input {
		width: 100% - $label-width;
	}
}