
.iris-button-group {
	@include clearfix;
	margin-bottom: spacing(1);
}
.iris-button {
	float: left;
	padding: 0.3rem 1rem;
	
	cursor: pointer;
	border-top: $rule-stack-underline;
	border-color: transparent;
}

.iris-button.active {
	// border-color: $ambient-groove;
}
