.iris-range > input {
	@include range-setup ( $thumb-width: 1.27rem, $thumb-height: 1.27rem, $track-height: 0.5rem);
	@include range-thumb {
		background-color: transparent;
		border: 5px solid white;
		border-radius: 50%;
		box-shadow: 
			0px 2px 8px transparentize($ambient, 0.7),
			0px 1px 1px transparentize($ambient, 0.7);
	}
	@include range-track {
		background: $ambient-groove;
		border: $rule-stack-groove;
		border-radius: 5px;
		border-color: $neutral-dark-1 !important;
	}
}

//TODO: figure out any z index workarounds.
.iris-range.signed > input {
	position: relative;
	z-index: 1;

	&:after {
		content: '';
		width: 10px;
		height: 100%;

		position: absolute;
		left: 50%;
		left: calc(50% - 5px);
		top: 0;
		background-color: $ambient-groove; 

		z-index: -1;
	}
}
.iris-range.hue > input {
	@include range-track {
		background: $gradient-hsl-hue;
	}
}
.iris-range.lightness > input {
	@include range-track {
		background: linear-gradient(to right, black, lightgray, white);
	}
}
.iris-range.colorfulness > input {
	@include range-track {
		background: linear-gradient(to right, black, lightgray, white);
	}
}