@import "mixins/scrollbars";
@import "mixins/clearfix";

@include scrollbars(
  $size: 13px,
  $padding: 2px,
  $foreground-color: $ambient-groove,
  $background-color: $ambient-groove,
  $foreground-color-hover: $activated
); 

*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}

html, body {
  @include clearfix;
  display: table;

  width: 100%;
  height: 100%;

  font-family: sans-serif;
}

body {
  position: relative;
  background-color: $ambient-groove-light-1;
}

main {
  padding: spacing(1);
}

canvas {
  vertical-align: bottom;
}