*, *:before, *:after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html, body {
  background: $gradient-neutral-white;
  font-family: sans-serif;
  width: 100%; 
  height: 100%;
}

hr {
	width: 100%;
  height: 0;

  border: none;
  border-top: $rule-stack-groove;
  
  margin: $padding-1 0;
}