.panel-brush 
{
	.panel-main > .brush-preview-wrapper {
		position: relative;

		> .brush-preview {
			width: 100%;
			height: spacing(10);
		}
	}
}


.brush-shape-selector {
	padding: spacing(2);
	width: 100%;
	white-space: nowrap;
	overflow-y: auto;
	overflow-x: scroll;

	> .brush-shape-preview {
		display: inline-block;
		height: 3rem;
		margin-right: spacing(1);
		padding: 3px;

		border-radius: radius(1);

		&:hover {
			box-shadow: 0 0 1px 1px $ambient-groove;
		}
	}	
}