.panel-brush 
{
	width: 21.5rem;

	.panel-main > .brush-preview-wrapper {
		position: relative;
		// padding: spacing(2);

		> .brush-preview {
			width: 100%;
			height: spacing(10);

			// border: $rule-stack-groove;
		}
	}
}