.panel {
	display: flex;
	float: left;
	position: relative;

	margin-top: 4rem;
	margin-left: 4rem;

	background-color: $panel-color;
	box-shadow: 
		0px 10px 50px transparentize($ambient, 0.95),
		0px 2px 2px transparentize($ambient, 0.7);
	border-radius: $radius-2;

	user-select: none;
	touch-action: manipulation;

	> .panel-tab {
		flex: 0 1 auto;
		width: $picker-indicator-width;
		padding: $padding-1;

		border-right: $rule-stack-groove;

		> .panel-label {
			text-align: right;
			letter-spacing: 0.5px;
		
			cursor: pointer;
			color: $panel-color;
			text-shadow: 
				0px 0px 2px transparentize($ambient, 0.5),
				-1px 0px 10px transparentize($ambient, 0.6);

			transform: rotate(-90deg) translateX(-1rem);
		}
	}
}

@import "panel-picker";
@import "panel-brush";