//not related (yet) to PanelGroup.js
.iris-panel-group {
	@include clearfix;
	float: left;
	
	> .panel {
		border-bottom: solid 6px $ambient-groove;
	}
	> .panel:first-of-type {
		> .panel-tab {
			border-top-left-radius: $radius-2;
		}
		border-top-left-radius: $radius-2;
		border-top-right-radius: $radius-2;
	}
	> .panel:last-of-type {
		> .panel-tab {
			border-bottom-left-radius: $radius-2;
		}
		border-bottom-left-radius: $radius-2;
		border-bottom-right-radius: $radius-2;
		border: none;
	}
}

.panel {
	display: flex;
	float: left;
	clear: both;
	position: relative;

	min-height: 4rem;

	background-color: $panel-color;
	box-shadow: $drop-shadow-1;

	user-select: none;
	touch-action: manipulation;

	> .panel-tab {
		width: $picker-indicator-width;
 
		border-right: $rule-stack-groove;

		> .panel-label {
			margin-top: 1rem;

			direction: rtl;
			text-align: right;
			font-weight: 600;
		
			cursor: default;
			color: black;

			transform: rotate(-90deg);
		}
	}

	> .panel-main {
		position: relative;
		width: $panel-width;
	}
}

@import "panel-element";
@import "tabbed-view";
@import "panel-iris";
@import "panel-brush";