.picker 
{
	display: flex;
	float: left;
	
	position: relative;
	left: 50%;
	margin-top: 10rem;
	
	background-color: $picker-color;
	box-shadow: 
		0px 10px 50px transparentize($ambient, 0.95),
		0px 2px 2px transparentize($ambient, 0.7);
	border-radius: $radius-2;
	
	transform: translateX(-50%);

	user-select: none;
	
	> .picker-left {
		flex: 0 1 auto;
		width: $picker-indicator-width;
		padding: $padding-1;

		border-right: $rule-stack-groove;

		> .picker-label {
			text-align: right;
			letter-spacing: 0.5px;
		
			cursor: pointer;
			color: $picker-color;
			text-shadow: 
				0px 0px 2px transparentize($ambient, 0.5),
				-1px 0px 10px transparentize($ambient, 0.6);

			transform: rotate(-90deg) translateX(-1rem);
		}

		> .picker-modes {
			position: absolute;

			top: 50%;
			left: 0;

			transform-origin: left top;
			transform: rotate(-90deg) translateX(-50%);
		}
	}

	> .picker-main {
		flex: 1 1 auto;

		> .picker-wheel-wrapper {      
			position: relative;
			
			> .picker-wheel {
				-webkit-tap-highlight-color: rgba(0,0,0,0);

				height: $picker-wheel-diameter;
				width: $picker-wheel-diameter;
				margin: $padding-1 ($picker-indicator-width + $padding-1) $padding-1 $padding-1;

				border-radius: 50%;
				cursor: crosshair;
			}

			// managed in Iris.js
			> .picker-pupil {
				position: absolute;
				top: 0;
				left: 0;

				// cursor: move;
				cursor: pointer;
				border: solid 4px hsla(0, 0%, 0%, 0.25);
				border-radius: 50%;
			}

			// managed in Iris.js
			> .picker-hilight {
				position: absolute;
				top: 0;
				left: 0;

				// cursor: move;
				border: solid 4px white;
				border-radius: 50%;

				pointer-events: none;
			}
			 
			> .picker-indicator {
				position: absolute;
				height: $picker-indicator-height;
				width: $picker-indicator-width;
				
				top: 50%;
				right: -1px;
				
				background-color: $theme-1;
				border-top-left-radius: $radius-2;
				border-bottom-left-radius: $radius-2;
				 
				transform: translateY(-50%);
			}
		}
		 
		> .picker-inputs {
			padding: $padding-1;
			 
			border-top: $rule-stack-groove;
			 
			input {
				width: 100%;
			}
		}
	}
}