.iris-drawing-area {
	@include clearfix;

	margin: 90vh 90vw;

	box-shadow: $drop-shadow-1;
}

//.iris-drawing-area > canvas.iris-surface
.iris-surface {
	z-index: 0;
	
	background-color: white;
}

.iris-presentation-layer {
	position: absolute;
	left: 35rem;
	height: 100%;
	width: auto;

	pointer-events: none;
	user-select: none;
}

@import "surface-selector";