.iris-tab {
	float: left;
	padding: 4.5px spacing(3);
	margin: 0 !important;
}

.iris-tab-bar {
	border-bottom: solid 1px $ambient-groove;

	> .iris-tab {
		@include selection(
			$bordered: false,
			$highlight: false,
			$underline: true
		);
	}
}

.iris-tab-bar-side {
	border-bottom: none;
}