.iris-tabbed-view {
}

.iris-tab-bar {
	background-color: $ambient-groove;
}

.iris-tab {
	@include selection(
		$bordered: false,
		$highlight: false
	);

	float: left;
	padding: spacing(1) spacing(3);
	margin: 0 !important;

	&.selected {
		background: white;
	}
}