.iris-tabbed-view {
}

.iris-tab-bar {
	background-color: $ambient-groove;
}

//.iris-button.iris-tab
.iris-tab {
	border: none !important;
	border-radius: 0 !important;

	&.selected {
		background-color: white;
	}

	&:hover {
		box-shadow: none !important;
	}
}