@import "mixins/math";

$phi: 1.61803398875;
$sqrt-phi: 1.2720196495;

$spacing-base: 0.5rem;
@function spacing($level) {
	@if ($level == 0) { @return 0; }
	@return $spacing-base * pow($sqrt-phi, $level - 1);
}

//------------------------------------------------------ Colors

$transparent: 0.00000001;

$activated: #00B4F8;

$ambient: #321B09;
$ambient-groove: transparentize($ambient, 0.9);
$ambient-over: transparentize(rgba(190, 190, 190, 1.00), 0.2);
$ambient-groove-light-1: transparentize($ambient-groove, 0.06);

$neutral: #f2f2f2;
$neutral-dark-1: darken($neutral, 5%);
$neutral-dark-2: darken($neutral, 15%);
$theme-1: #919191;

$drop-shadow-1: 0px 2px 2px transparentize($ambient, 0.7);

$gradient-neutral-white: linear-gradient(to bottom, $neutral, white 30%);
$gradient-hcl-hue: linear-gradient(to right, #FF6395, #FF6637, #E48802, #48B12F, #00BFC9, #568FFF, #F46CDF, #FF6092);
$gradient-hsl-hue: linear-gradient(to right, hsl(0deg,100%,50%), hsl(60deg,100%,50%), hsl(120deg,100%,50%), hsl(180deg,100%,50%), hsl(240deg,100%,50%), hsl(300deg,100%,50%), hsl(360deg,100%,50%));

$rule-stack-groove: solid 1px $ambient-groove;
$rule-stack-underline: solid 3px #D3CDC9;

$radius-1: 3px;
$radius-2: 5px;

$radii: (3px, 5px, 7px, 9px, 11px, 13px, 15px, 16px);


//------------------------------------------------------ Panel
$panel-color: white;
$panel-width: 19.5rem;
$panel-padding-horizontal: spacing(1);

//------------------------------------------------------ Iris Panel
$picker-indicator-width: 2rem;
$picker-indicator-height: 10rem;
$picker-wheel-diameter: 16.5rem;
$picker-pupil-diameter: 80px;