$phi: 1.61803398875;

$padding-1: 0.5rem;
$padding-2: $padding-1 * $phi;

$ambient: #321B09;
$neutral: #f2f2f2;
$neutral-dark-1: darken($neutral, 5%);
$neutral-dark-2: darken($neutral, 15%);
$theme-1: #919191;

$gradient-neutral-white: linear-gradient(to bottom, $neutral, white 30%);
$gradient-hcl-hue: linear-gradient(to right, #FF6395, #FF6637, #E48802, #48B12F, #00BFC9, #568FFF, #F46CDF, #FF6092);
$gradient-hsl-hue: linear-gradient(to right, hsl(0deg,100%,50%), hsl(60deg,100%,50%), hsl(120deg,100%,50%), hsl(180deg,100%,50%), hsl(240deg,100%,50%), hsl(300deg,100%,50%), hsl(360deg,100%,50%));

$rule-stack-groove: solid 1px transparentize($ambient, 0.9);
$rule-stack-underline: solid 3px #D3CDC9;

$radius-1: 3px;
$radius-2: 5px;

//------------------------------------------------------ Panel
$panel-color: white;


//------------------------------------------------------ Picker
$picker-indicator-width: 2rem;
$picker-indicator-height: 10rem;
$picker-wheel-diameter: 16.5rem;
$picker-pupil-diameter: 80px;