$phi: 1.61803398875;

$padding-1: 0.5rem;
$padding-2: $padding-1 * $phi;

$ambient: #321B09;

$neutral: #f2f2f2;
$neutral-dark-1: darken($neutral, 5%);
$neutral-dark-2: darken($neutral, 15%);
$theme-1: #32EBBA;

$rule-stack-groove: solid 1px transparentize($ambient, 0.9);
$rule-stack-underline: solid 2px $theme-1;

$radius-1: 3px;
$radius-2: 5px;

//------------------------------------------------------ Picker
$picker-color: white;
$picker-indicator-width: 2rem;
$picker-indicator-height: 14rem;
$picker-wheel-diameter: 18rem;
$picker-pupil-diameter: 80px;