@mixin range-setup ($thumb-width, $thumb-height, $track-height) {
	&::-webkit-slider-runnable-track { height: $track-height; }
	&::-moz-range-track { height: $track-height; }
	&::-ms-track {
	  height: $track-height;
	  border-width: 2*$track-height 0;
	}

	&::-webkit-slider-thumb {
		width: $thumb-width;
		height: $thumb-height;
		margin-top: $track-height/2.7 - $thumb-height/2;
	}
	&::-moz-range-thumb {
		width: $thumb-width;
		height: $thumb-height;
	}
	&::-ms-thumb {
		width: $thumb-width;
		height: $thumb-height;
	}
}

@mixin range-thumb {
	&::-webkit-slider-thumb { @content; }
	&::-moz-range-thumb { @content; }
	&::-ms-thumb { @content; }
}

@mixin range-track {
	&::-webkit-slider-runnable-track { @content; }
	&::-moz-range-track { @content; }
	&::-ms-fill-lower { @content; }
	&::-ms-fill-upper { @content; }
}

@mixin range-track-focus {
	&:focus::-webkit-slider-runnable-track { @content; }
	&:focus::-ms-fill-lower { @content; }
	&:focus::-ms-fill-upper { @content; }
}