

@mixin scrollbars(
	$size,
	$track-size: $size, 
	$radius: 0, 
	$padding: 0px, 
	$foreground-color: gray, 
	$foreground-color-hover: darkgray, 
	$background-color: mix($foreground-color, white,  50%)
) {
	//autoprefixer: off;

	::-webkit-scrollbar {
		-webkit-appearance: none;
		width:  $size;
		height: $size;
	}
	::-webkit-scrollbar-thumb {
		-webkit-appearance: none;
		background: $foreground-color;
		border-radius: $radius;

		&:hover {
			background: $foreground-color-hover;
		}
	}
	::-webkit-scrollbar-track {
		-webkit-appearance: none;
		background: $background-color;
		// border: solid 1px $background-color;
		width: $size;
		height: $size;
	}
	::-webkit-scrollbar-button {
		-webkit-appearance: none;
		width: 0;
		height: 0;
		display: none;
	}
	::-webkit-scrollbar-corner {
		-webkit-appearance: none;
		background-color: $background-color;
		display: none;
	}

	// For Internet Explorer
	body {
		scrollbar-face-color: $foreground-color;
		scrollbar-track-color: $background-color;
	}
}

//autoprefixer: on;