.iris-surface-list-view-wrapper 
	p= name
	//- .iris-icon-button.iris-surface-list-view-duplicate +
	.iris-icon-button.iris-surface-list-view-remove
		.iris-icon.i-cancel
	.iris-icon-button.iris-surface-list-view-up
		.iris-icon.i-angle-up
	.iris-icon-button.iris-surface-list-view-down
		.iris-icon.i-angle-down