doctype html 
html
	head
		meta(charset="utf-8")
		link(rel="stylesheet" href="compiled.css" type="text/css")
		//- link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
		//- script(src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="application/javascript") 
		script(src="./lib/modernizr-2.8.3.min.js") 
		
	body
		main
			block main
		script(src='./bundle.js' type="application/javascript")