extends base.pug
block main
	.brush-canvases
		img.brush-data#brush-shape-bristles(src = "./img/brush.png")
		img.brush-data#brush-shape-inky(src = "./img/brush_inky.png")
		canvas#art

	.panel-group
		include ./panel-iris.pug
		include ./panel-brush.pug