extends base.pug
block main
	.picker
		.picker-left
			p.picker-label Iris
			.picker-modes#picker-modes
		.picker-main
			.picker-wheel-wrapper
				canvas.picker-wheel#main-iris
				.picker-indicator#picker-indicator
			.picker-inputs#picker-inputs