extends ./panel.pug

block vars
	- var name = 'Iris'
block tab
	.iris-modes#picker-modes
block main
	.iris-wheel-wrapper
		canvas.iris-wheel#main-iris
		.iris-indicator#picker-indicator
		.inspector-tool
			.iris-icon-small.i-inspector-tool
	.iris-input-group#picker-inputs