.panel-iris.panel
	.panel-tab
		p.panel-label Iris
		.iris-modes#picker-modes
	.iris-main
		.iris-wheel-wrapper
			canvas.iris-wheel#main-iris
			.iris-indicator#picker-indicator
		.iris-input-group#picker-inputs