extends ./panel.pug

block vars
	- var name = 'Tools'
block tab
block main
	.iris-tool-list#tool-list
		.iris-button-group 
			a.iris-button#clear-canvas Clear
			a.iris-button#download Download
			a.iris-button#eraser Eraser