block vars
	- var name = 'untitled';

- var panelClass = "panel-" + name.toLowerCase().replace(' ', '-');
.panel(class=panelClass)

	.panel-tab
		p.panel-label= name
		block tab
			
	.panel-main
		block main